.ava {
  display: none;
}

@include MQ(M) {
  .ava {
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0 0 15px 2px transparentize($fourth-color, .4);
  }
}
