.btn {
  box-sizing: border-box;
  display: block;
  width: 80%;
  min-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 700;
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $fifth-color;
  border-radius: 10px;
  cursor: pointer;

  &--link {
    margin-bottom: 20px;
  }

  &--label {
    position: relative;

    &::before {
      content: 'Скрыть';
      position: absolute;
      top: 0;
      left: 0;

      box-sizing: border-box;
      width: 100%;
      min-height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;

      font-weight: 700;
      color: $secondary-color;

      background-color: $fifth-color;
      border-radius: 10px;
      opacity: 0;
    }
  }
}

@include MQ(M) {
  .btn {
    transition-duration: .2s;
    transition-timing-function: ease-in;

    &:hover {
      color: $fifth-color;

      box-shadow: inset 0 0 0 30px $secondary-color;
    }

    &--label {
      &::before {
        transition-duration: .2s;
      }

      &:hover::before {
        color: $fifth-color;

        box-shadow: inset 0 0 0 30px $secondary-color;
      }
    }
  }
}
