.certificates {
  @include clear-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;

  &__item {
    width: 30%;
  }

  &__link {
    display: block;
  }
}
