.certificates {
  @include clear-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;

  &__item {
    width: 30%;
    margin-bottom: 20px;
  }

  &__link {
    display: block;

    @include font(0, 0);

  }

  &__img {
    border-radius: 10px;
    border: 2px solid $fourth-color;
    filter: sepia(100%);

    transition-duration: .3s;

    &:hover {
      filter: none;
    }
  }
}

@include MQ(L) {
  .certificates {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
