.gallery-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  border-width: 1px;
  border-style: solid;
  border-color: transparentize($primary-color, .3);

  &__name {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    @include font-set(700, 28px, 45px);
    color: $secondary-color;
    text-align: center;

    background-color: transparentize($primary-color, .3);
  }

  &__wrapper {
    min-height: 150px;

    font-size: 0;
  }

  &__check {
    display: none;
  }

  &__check:checked ~ &__info {
    display: block;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 180px;

    background-color: transparentize($primary-color, .4);
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__info {
    box-sizing: border-box;
    display: none;
    padding: 30px;

    background-image: linear-gradient(180deg, transparentize($primary-color, .4), $primary-color);
  }

  &__hashtag-list {
    @include clear-list();
  }
}

@include MQ(M) {
  .gallery-item {
    width: 47.5%;
    margin-right: auto;
    margin-bottom: 20px;

    &__name {
      padding-top: 15px;
      padding-bottom: 15px;

      @include font-set(700, 32px, 45px);
    }

    &__info {
      position: relative;
      top: 30px;

      width: 210.65%;
      margin-bottom: 20px;

      &::before {
        @include absolute-pseudo-element();

        top: -30px;
        left: 0;

        width: 47.5%;
        height: 30px;

        background-color: transparentize($primary-color, .4);
      }
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2n) &__info {
      left: -110.65%;
      right: 0;

      &::before {
        right: 0;
        left: auto;
      }
    }
  }
}

@include MQ(L) {
  .gallery-item {
    position: relative;

    width: 30%;
    margin-right: 5%;

    border-width: 2px;

    &:nth-of-type(2n) {
      margin-right: 5%;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &__bottom {
      position: absolute;
      top: 352px;

      opacity: 0;
      visibility: hidden;
    }
  }
}
