.gallery-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  &__name {
    position: relative;

    margin: 0;
    margin-bottom: -85px;
    padding-top: 20px;
    padding-bottom: 20px;

    @include font-set(700, 28px, 45px);
    color: $secondary-color;
    text-align: center;

    background-color: transparentize($primary-color, .3);
  }

  &__wrapper {
    min-height: 150px;

    font-size: 0;
  }

  &__hashtag-list {
    @include clear-list();
  }

  &__check {
    display: none;
  }

  &__check:checked ~ &__info {
    display: block;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;

    background-color: transparentize($primary-color, .4);
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__info {
    display: none;
  }

  &__subtitle {
    @include clear-list();
  }
}

@include MQ(M) {
  .gallery-item {
    width: 47.5%;
  }
}
