.gallery {
  margin-top: 35px;
  padding-top: 40px;

  &__title {
    margin-top: 0;
    margin-bottom: 35px;

    @include font(34px, 55px);
    text-align: center;
    text-transform: uppercase;
  }

  &__control {
    display: flex;
    flex-direction: column;
  }

  &__tab {
    &-radio {
      display: none;
    }

    &-label {
      box-sizing: border-box;
      min-height: 50px;
      padding-top: 13px;
      padding-bottom: 13px;

      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    &-radio-1:checked ~ .gallery__control &-label-1,
    &-radio-2:checked ~ .gallery__control &-label-2,
    &-radio-3:checked ~ .gallery__control &-label-3 {
      order: 1;

      font-weight: 700;
    }

    &-radio-1:checked ~ .gallery__group--1,
    &-radio-2:checked ~ .gallery__group--2,
    &-radio-3:checked ~ .gallery__group--3 {
      display: block;
    }
  }

  &__group {
    display: none;
    padding: 20px;
  }
}

@include MQ(M) {
  .gallery {
    margin-top: 45px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 45px;

    &__control {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__tab {
      &-label {
        box-sizing: border-box;
        width: 33.3%;
        min-height: 50px;
        padding-top: 13px;
        padding-right: 20px;
        padding-bottom: 13px;
        padding-left: 20px;

        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
      }

      &-radio-1:checked ~ .gallery__control &-label-1,
      &-radio-2:checked ~ .gallery__control &-label-2,
      &-radio-3:checked ~ .gallery__control &-label-3 {
        order: 0;

        font-weight: 400;
      }

      &-radio-1:checked ~ .gallery__group--1,
      &-radio-2:checked ~ .gallery__group--2,
      &-radio-3:checked ~ .gallery__group--3 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 30px;
      }
    }

    &__group {
      align-items: flex-start;
    }
  }
}
