.main-nav {
  &__list {
    box-sizing: border-box;
    @include clear-list();
  }

  &__link {
    box-sizing: border-box;
    display: block;
    min-height: 60px;
    padding-top: 21px;
    padding-bottom: 21px;

    @include font-set(700, 18px, 18px);
    color: $fifth-color;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    background-color: transparentize($primary-color, .3);
    border-top: 1px solid transparentize($third-color, .1);
    border-bottom: 1px solid transparentize($primary-color, .3);
  }

  &__toggle {
    display: block;
    width: 40%;
    min-height: 40px;
    margin-left: 50%;

    background-color: transparentize($primary-color, .3);
    border: 1px solid transparentize($primary-color, .3);
    border-top: 1px solid transparentize($third-color, .3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transform: translateX(-50%);

    &::before,
    &::after {
      @include absolute-pseudo-element();
      top: 50%;
      left: 50%;

      width: 30px;
      height: 3px;

      background-color: $fifth-color;
      border-radius: 2px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@include MQ(M) {
  .main-nav {
    display: flex;
    justify-content: center;
    padding: 10px;

    background-color: transparentize($primary-color, .35);

    &__list {
      display: flex;
      justify-content: space-between;
      width: 75%;
      max-width: 720px;
      align-items: center;

      margin-left: 8.3%;
    }

    &__link {

      background-color: transparent;
      border: none;
    }

    &__toggle {
      display: none;
    }
  }
}

@include MQ(L) {
  .main-nav {
    justify-content: center;

    &__list {
      width: 720px;
      margin-left: 100px;
    }

  }
}
