
@include MQ(M) {
  .page-header {
    min-height: 400px;

    background-image: url(../img/header-background@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    box-shadow: 0 5px 15px transparentize($third-color, .5);

    @include retina {
      background-image: url(../img/header-background@2x.jpg);
    }
  }
}

@include MQ(L) {
  .page-header {
    min-height: 500px;

    box-shadow: 0 5px 15px transparentize($third-color, .5);
  }
}


