
@include MQ(M) {
  .page-header {
    min-height: 400px;

    background-image: url(../img/header-background-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@include MQ(L) {
  .page-header {
    min-height: 500px;

    background-image: url(../img/header-background-desk@1x.jpg)
  }
}


